<div class="container">
    <h1>Tips and Tricks:</h1>
    <br>
    <h3><b>Course Name:</b> Advanced system analysis and design</h3>
    <h3><b>Tips 1:</b> For all the project related work, please consult the rubric as your work will be evaluated accordingly.</h3>
    <h3><b>Tip 2:</b> You would be able to get the best out of this course if you would spend around 20 hours besides your regular classes learning about its concepts</h3>
    <h3><b>Tip 3:</b> Please keep consulting additional resources posted in every module for more concepts.</h3>
<br>
<h3><b>Course Name: </b> Managing network and security risk</h3>
<h3><b>Tip 1:</b> Attempting practice exam would be greatly helpful for final exam.</h3>
<h3><b>Tip 2: </b>Studying additional resources would provide more knowledge of the chapters concepts.
</h3>
<br>
<h3><b>Course name:</b> Emerging technologies</h3>
<h3>Tip 1: It would be helpful if you keep your both presentations and final research topics similar as it would enhance your research scope and help you in each activity.</h3>
<h3>Tip 2: Please consult sample research review documents for an idea regarding your research review document.</h3>


</div>